@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LIGHT-COLOR-: white;
}

body {
    height: 100%;
    font-family: Roboto;
}


img {
    width: 100%;
}


.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 5px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 110px;
}


.bars-menu i {
    font-size: 1.2rem;
}


.hero-img {
    margin: 2em;
    margin-bottom: 5em;
    margin-top: 0;
    padding-top: 6em;
}


.green-tag {
    background: #149F39;
    color: var(--LIGHT-COLOR-);
    width: fit-content;
    padding: 0.2em 0.6em;   
    margin-bottom: 1em;
}

.hero-section {
    margin-bottom: 2em;
}

.hero-section h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.hero-section p {
    font-size: 0.8rem;
    margin-bottom: 1em;
}


.hero-btn {
    background: #ffa931;
    color: var(--LIGHT-COLOR-); 
    border: none;
    font-size: 1.3rem;
    padding: 0.5em 1em;
    letter-spacing: 0.5px;
}


.hero-btn:active {
    background-color: #ffd08d;
}

.card-sec {
    margin-bottom: 3em;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1em;
    box-shadow: 2px 2px 5px lightgray;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    width: 90%;
    max-width: 350px;
}

.card p {
    font-size: 0.8rem;
    text-align: center;
    width: fit-content;
}

.card h3 {
    text-align: center;
}


.menu {
    text-align: center;
    margin-bottom: 2em;
}

.menu-green-tag {
    margin: 0 auto;
    margin-bottom: 1em;
}

.menu h1 {
    font-weight: 500;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-inline: auto;
}

.grid img {
    border-radius: 10px;
    max-width: 200px;
}

.grid img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-out;
}


.footer {
    background: #fff0db;
    padding-top: 1em;
}

.footer-logo {
    width: 120px;
    margin-bottom: 2em;
}




.fd h3 {
    margin-bottom: 0.7em;
    font-size: 1.4rem;
}

.fd {
    margin-bottom: 3em;
}

.newsletter {
    margin-bottom: 0;
}

.fd a {
    text-decoration: none;
    color: black;
}


.fd a:hover {
    text-decoration: underline;
}

.fd a:active {
    color: white;
}

.fd ul li {
    list-style: none;
    margin-bottom: 0.2em;
}


.fd input {
    font-family: inherit;
    font-size: 1rem;
    width: 15em; 
    padding: 5px 10px;
    margin-bottom: 2em;
}


.sm-icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-bottom: 1em;
}













/* media queries */ 

@media screen and (min-width: 500px) {
    .hero-img {
        max-width: 400px;       
        margin-inline: auto;
        padding-top: 7em;
    }

    .footer-con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}


@media screen and (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 850px) {
    .hero-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
    }

    .card-sec {
        display: flex;
        gap: 1em;
    }

    .menu-green-tag {
        font-size: 1rem;
    }

    .menu h1 {
        font-size: 1.3rem;
    }
}


@media screen and (min-width: 1000px) {
    .footer-con {
        display: flex;
        justify-content: space-around;
        padding-top: 2em;
        height: 16rem
    }

    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 0.9rem;
    }

    .hero-btn {
        font-size: 1.5rem;
    }

    .menu-green-tag {
        font-size: 1.2rem;
    }


    .menu h1 {
        font-size: 2rem;
        margin: 2rem  0;
    }

    .grid {
        padding-bottom: 3rem;
    }
}